$color-primary-black: #262626;
$color-primary-white: #ffffff;

$color-grey-200: #eeeeee;
$color-grey-300: #dddddd;
$color-grey-400: #cccccc;
$color-grey-500: #bbbbbb;
$color-grey-600: #999999;
$color-grey-700: #808080;
$color-grey-800: #666666;

$color-azul: #333399;
$color-lavender: #ccccff;
