@use "./global";
@use "./components";
@use "./assets";

body {
  margin: 0 0 !important;
  background-image: linear-gradient(#9ce664, #9198e5);
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  height: 100vh;
  overflow: hidden;
}

.desktop {
  height: 100%;
  position: relative;
}
