@use "./global";
@use "./components";
@use "./assets";

body {
  margin: 0 0 !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/noise.svg"),
    linear-gradient(45deg, #9ce664, #9198e5);
}

#root {
  height: 100vh;
  overflow: hidden;
}

.desktop {
  height: 100%;
  position: relative;
}
